body {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navagation {
    background-color: #2b2b2b;
    color: white;
    height: 50px;
}

.navagation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
    height: 50px;
}

.navagation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 100;
    color: gray;
}

.navagation a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 92, 92);
}

img {
    width: 35vw;
}

#quem-somos {
    background-color: white;
    padding: 10vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quem-somos h2 {
    width: 40vw;
}

#quem-somos img {
    width: 35vw;
}

#nossos-produtos {
    background-color: gainsboro;
    padding: 12vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produtos {
    margin-top: 12vh;
    display: flex;
}

#produtos article {
    margin: 0 3vw;
    padding: 1vw;
    background-color: white;
    border-radius: 10px;
}

#produtos img {
    width: 15vw;
    height: 10vw;
}

#produtos p {
    width: 15vw;
}

#faq {
    margin: auto;
    width: 80vw;
    padding: 10vh 5vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq article {
    margin: 4vh 0;
    display: flex;
    align-items: center;
}

#faq img {
    height: 5vw;
    width: 5vw;
    margin-right: 2vw;
}

#time {
    background-color: gainsboro;
    padding: 15vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time h2 {
    margin-bottom: 15vh;
}

#contato {
    padding: 10vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    width: 30px;
}

iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapa {
    padding: 10vh 5vw;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#mapa h2 {
    margin-bottom: 10vh;
}

button {
    margin-top: 20px;
}

@media (max-width: 490px) {
    body {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    .navagation {
        width: auto;
    }
    .navagation ul {
        height: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navagation li {
        display: flex;
        justify-content: space-between;
        line-height: 10px;
        font-size: 15px;
        font-weight: 50;
        padding: 5px;
    }
    h2 {
        font-size: 12px;
    }
    #mapa {
        width: 100%;
    }
    iframe {
        width: 50%;
        height: 200px;
    }
    #nossos-produtos {
        width: 90%;
        height: 150%;
    }
}